body{
    margin: 0;
    padding: 0;
}
#Relatory{
    background-color: #b109b1;
    width: 800px;
    height: auto;
    position: absolute;
    left: 25%;
    top: 1%;
    display:none;
}
.container, .init{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #AF42AE;
    color: white;
}
.center{
    padding-left: 2em;
}
.answers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}
.box{
    width: 50%;
    margin-top: 1em;

}
button{
    width: 90%;
    background-color: #82204a;
    border-radius: 20px;
}
h4{
    color: white;
}
.box :hover{
    background-color: rgb(27, 27, 29);
}
.bg{
    background-color: purple;
}
#label{
    font-size: 36px;
    margin-bottom: 2em;
}
#qnum{
    height: 2em;
    color: white;
    border: none;
    background-color: #000000;
    padding: 1em;
}
.lo, .cancel{
    margin-top: 2em;
    border: 1px solid white;
    border-radius: 15px;
    padding: 1em;
    background-color: #b109b1;
    color: white;
    transition: ease-in;
}
.lo:hover{
    background-color: #e254e2;
    transform: translateY(-3px);
}
.cancel{
    background-color:  #b109b1;
}
li{
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
span{
    color:#330633;
}
p{
    color:white;
    font-family: cursive;
}
span{
    font-family: cursive;
    font-size: 20px;
}
.endcontent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        background-color: #b109b1;;
 
}