body{
    margin: 0;
    padding: 0;
}
.container, .init{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(141, 141, 141);
}
.center{
    padding-left: 2em;
}
.answers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}
.box{
    width: 50%;
    margin-top: 1em;

}
button{
    width: 90%;
    background-color: black;
    border-radius: 20px;
}
h4{
    color: blue;
}
.box :hover{
    background-color: rgb(27, 27, 29);
}
.bg{
    background-color: purple;
}
#label{
    font-size: 36px;
    margin-bottom: 2em;
}
#qnum{
    height: 2em;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 1em;
}
.lo, .cancel{
    margin-top: 2em;
    border: 1px solid white;
    border-radius: 15px;
    padding: 1em;
    background-color: black;
    color: white;
    transition: ease-in;
}
.lo:hover{
    background-color: rgb(158, 156, 156);
    transform: translateY(-3px);
}
.cancel{
    background-color: red;
}
p{
    color: green;
    font-family: cursive;
}