body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(141, 141, 141);
}
.center{
    padding-left: 2em;
}
.answers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}
.box{
    width: 50%;
    margin-top: 1em;

}
button{
    width: 90%;
    background-color: black;
    border-radius: 20px;
}
h4{
    color: blue;
}
.box :hover{
    background-color: rgb(27, 27, 29);
}
.bg{
    background-color: purple;
}